sudo: false  # Use container-based infrastructure
language: node_js
node_js:
  - "0.12"

before_install: npm install -g grunt-cli

script: grunt travis && ./scripts/lint.sh && ./scripts/post-coverage.sh
