sudo: false  # Use container-based infrastructure
language: node_js
node_js:
  - "0.12"

script: >
    npm run build &&
    npm run test &&
    npm run flow-check &&
    npm run lint &&
    npm run coverage &&
    cat coverage/lcov.info | ./node_modules/.bin/coveralls
