/**
 * This is the default stylesheet for pileup.js.
 * In general, it attempts to look like IGV.
 * You are encouraged to override anything you like.
 */

/* controls */

/* reference track */
.reference {
  height: 50px;
}

.background {
  fill: white;
}
.basepair.a, .basepair .a { fill: #188712; }
.basepair.g, .basepair .g { fill: #C45C16; }
.basepair.c, .basepair .c { fill: #0600F9; }
.basepair.t, .basepair .t { fill: #F70016; }
.basepair.u, .basepair .u { fill: #F70016; }
.basepair text, text.basepair {
  font-family: Helvetica Neue, Helvetica, Arial, sans;
}
.basepair.loose text {
  font-size: 28;
}
.basepair.tight text {
  font-size: 12;
  font-weight: bold;
}
.basepair text, .basepair rect {
  visibility: hidden;
}
.basepair.loose text,
.basepair.tight text {
  visibility: visible;
}
.basepair.blocks rect {
  visibility: visible;
}

/* gene track */
.genes {
  height: 50px;
}
.gene {
  stroke-width: 1;
  stroke: blue;
}
.gene text {
  font-size: 16px;
  text-anchor: middle;
  stroke: black;
  alignment-baseline: hanging;
}
#sense, #antisense .main {
  stroke: blue;
  fill: none;
  stroke-width: 1;
}
#antisense .offset, #sense .offset {
  stroke: white;
  fill: none;
  stroke-width: 1;
}
.exon {
  fill: blue;
  stroke: none;
}

/* pileup track */
.pileup {
  height: 300px;
}
.pileup .alignment path {
  fill: #c8c8c8;  /* matches IGV */
}
.pileup .alignment.negative path {
}
.pileup text.basepair {
  alignment-baseline: hanging;
  font-size: 12;
  font-weight: bold;
}
